.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 40px 0;
  }
  
  .col-sm-6 {
    padding: 0 15px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  body{
    background-image: url("pictures/bg4.jpg");
  }